@{
    ViewData["Title"] = "Home Page";}
@model IEnumerable<EcommerceTH.data.Product>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach (var product in Model){
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="@product.NamePro" style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@product.NamePro</h5>
                        <p class="card-text text-muted">@product.DesPro</p>
                        <h6 class="text-primary">$@product.Price</h6>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Idpro" class="btn btn-success">View Details</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
